*{
    margin: 0;
    padding: 0;
}

.header{
    display: grid;
    grid-template-columns: 6fr 3fr 3fr 2fr;
    grid-gap: 20px;
    width: 60%;
    margin: auto;
    border: 1px solid #636b6f;
    height: 150px;
}

.header img{
    width: 50%;

}

.logo{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin: 30px 0;
}

.logo p{
    margin-top: 40px;
    font-size: 14.5pt;
    margin-right: 30px;
}

.logo img{
    margin-left: 60px;
    padding: 0;
    width: 52%;
    margin-bottom: 10px;

}

.cart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 0;
}

.cart p{
    margin-left: 10px;

}


.login{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 55px;
}

.login button{
    height: 30px;
    background: #2a9055;
    border: none;
}

.login img{
    margin-left: 25px;

}


.number{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 55px;

}

.number img{
    width: 60%;
}

.dropdown{
    margin: auto;
    width: 60%;
}

.drop ul{
    margin: 0px;
    padding 0px;
    list-style: none;
}

.drop ul li{
    float: left;
    width: 15%;
    height: 40px;
    opacity:0.8;
    line-height: 40px;
    text-align: center;
    border: 1px solid #636b6f;
    font-size: 10pt;
}

.drop ul li a{
    text-decoration: none;
    display: block;
}

.drop ul li a:hover{
    color: darkred;

}

.drop ul li ul li{
    display: none;
}

.drop ul li:hover ul li{
    display: block;

}


